@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --hambugger-svg: url(/images/icon-hamburger.svg);
  --close: url(/images/icon-close.svg);
  --bg-top: url(/images/bg-tablet-pattern.svg);
  --bg-simplify-mobile: url(./images/bg-simplify-section-mobile.svg);
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-grey: hsl(0, 0%, 98%);
  --font-vietnam: "Be Vietnam Pro";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-vietnam);
}

input::placeholder {
  font-family: var(--font-vietnam);
}

body {
  font-size: 0.875rem;
  background-color: white;
  background: var(--bg-top), var(--bg-top);
  background-position: left 65vw bottom 265vh, left 10vw top -10vh;
  background-size: 100%, 130%;
  background-repeat: no-repeat, no-repeat;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-vietnam);
}

.webpage__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
}

.brand__logo {
  width: 35%;
}

.hambugger__menu {
  background: var(--hambugger-svg) no-repeat center;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.hambugger__menu[aria-expanded="true"] {
  background: var(--close) no-repeat center;
}

.nav__action__btn {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 7rem 3rem;
  position: fixed;
  inset: 0 0 0 0;
  padding: min(30vh, 2rem) 3em;
  max-height: 40vh;
  min-width: 30vw;
  background-color: white;
  font-size: 1.2em;
  transition: 350ms ease;
  z-index: 9999;
  font-family: "Barlow", sans-serif;
  box-shadow: 1px 1px 15px var(--dark-grayish-blue);
  transform: translateX(-150%);
}

.navigation[data-visible="true"] {
  transform: translateX(-0%);
}

.nav__links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav__links a {
  color: var(--very-dark-blue);
  font-family: var(--font-vietnam);
  font-weight: 500;
}

.hero__grid {
  padding: 0 1rem 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__header {
  font-size: 2.7em;
  text-align: center;
  color: var(--dark-blue);
}

.hero__paragraph {
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.6rem;
  color: var(--dark-grayish-blue);
}

.hero__action__btn {
  color: white;
  background-color: var(--bright-red);
  margin: 1rem 0;
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 1px 10px 6px var(--very-pale-red);
}

.article__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.about__brand {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.about__header {
  font-size: 2.2em;
  text-align: center;
  padding: 1rem 0;
  color: var(--dark-blue);
}

.about__paragraph {
  font-size: 1em;
  text-align: center;
  line-height: 1.5rem;
  color: var(--dark-grayish-blue);
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 5rem 0;
}

.outline__container {
}

.header__block {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 0 1rem;
}

.num__box {
  padding: 1rem 2rem;
  background: var(--bright-red);
  border-radius: 2rem;
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
}

.outline__header {
  background-color: var(--very-pale-red);
  padding: 1rem 0 1rem 6rem;
  border-radius: 2rem 0 0 2rem;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  color: var(--dark-blue);
}

.outline__paragraph {
  font-size: 1em;
  color: var(--dark-grayish-blue);
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  line-height: 1.7rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.testimonials__head {
  font-size: 2.3em;
  padding: 2rem 0;
  color: var(--dark-blue);
}

.carousel {
  position: relative;
  padding: 2rem;
}

.carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 4rem 0;
  position: relative;
  display: none;
}

.carousel__item--selected {
  display: flex;
}

img[alt="user__avatar"] {
  width: 25%;
  position: absolute;
  top: -30px;
}

.testimonial__block {
  background: var(--very-light-grey);
  padding: 5rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.2em;
  color: var(--dark-blue);
}

.testimonial__paragraph {
  font-size: 1em;
  text-align: center;
  line-height: 1.7rem;
  padding: 1rem 0;
  color: var(--dark-grayish-blue);
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__btn {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 1.5px solid var(--bright-red);
  background: transparent;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.5s ease-in;
}

.carousel__btn--selected {
  background-color: var(--bright-red);
}

.carousel__action__btn {
  color: white;
  background-color: var(--bright-red);
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 1px 10px 6px var(--very-pale-red);
}

.simplify__team {
  background-color: var(--bright-red);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simplify__header {
  font-size: 2.5em;
  text-align: center;
  line-height: 3.5rem;
  color: var(--very-light-grey);
}

.simplify__team__btn {
  color: var(--bright-red);
  background-color: var(--very-light-grey);
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 1px 2px 20px white;
}

.webpage__footer {
  background-color: var(--very-dark-blue);
  padding: 4rem 2rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

.subscribe__input {
  padding: 1rem;
  width: 100%;
  border-radius: 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

.subscribe__btn {
  padding: 1rem;
  border-radius: 2rem;
  padding: 0 2rem;
  border: none;
  outline: none;
  background: var(--bright-red);
  color: white;
  font-size: 1.2em;
}

.alternate__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem;
}

.link__grid li {
  padding: 0.6rem 0;
  color: white;
}

.social__links__brand__logo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 3rem;
}

.social__links {
  display: flex;
  gap: 2rem;
}

.social__links img {
}

.copyright {
  color: var(--dark-grayish-blue);
}

/* js class */

.scroll__body__fixed {
  position: fixed;
}

.scroll__nav__sticky {
  position: sticky;
}

@media (500px <= width <= 915px) {
  body {
    font-size: 0.9375rem;
  }

  .navigation {
    max-width: 10vw;
    inset: 0 0 0 auto;
    transform: translateX(150%);
  }

  .hero__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    padding: 5rem 2rem 5rem 2rem;
  }

  .hero__illustrattion {
    grid-column: 2;
  }

  .hero__text {
    grid-column: 1;
    align-items: start;
    gap: 1rem;
  }

  .hero__header {
    text-align: left;
  }

  .hero__paragraph {
    text-align: left;
    padding: 0;
  }

  .about__brand {
    padding: 0 6rem 0 6rem;
  }

  .about__grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
  }

  .outline__header {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .outline__paragraph {
    text-align: center;
  }

  .carousel {
    padding: 2rem 8rem;
  }

  img[alt="user__avatar"] {
    bottom: 2rem;
    width: 20%;
  }

  .testimonial__block {
    padding: 6rem 1.5rem 1rem 1.5rem;
  }
}

@media (width >= 916px) {
  body{
    background-position: left 10vw bottom 10vh, left 10vw top vh;
  }

  .webpage__head {
    position: relative;
    padding: 0 2rem;
  }

  .brand__logo {
    width: 15%;
  }

  .hambugger__menu {
    display: none;
  }

  .nav__action__btn {
    display: block;
    color: white;
    background-color: var(--bright-red);
    margin: 1rem 0;
    padding: 1rem 2.5rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 1px 10px 6px var(--very-pale-red);
  }

  .navigation {
    position: relative;
    inset: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    min-width: 0;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .navigation[data-visible="true"] {
    transform: none;
  }
  .nav__links {
    flex-direction: row;
  }

  .hero__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    padding: 5rem;
  }

  .hero__illustrattion {
    grid-column: 2;
  }

  .hero__text {
    grid-column: 1;
    align-items: start;
    gap: 1rem;
  }

  .hero__header {
    text-align: left;
    font-size: 4em;
  }

  .hero__paragraph {
    text-align: left;
    padding: 0;
    font-size: 1.3em;
    padding: 0 10rem 0 0;
  }

  .article__grid{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5rem;
  }

  .about__header{
    text-align: left;
    font-size: 2.7em;
  }

  .about__paragraph{
    text-align: left;
    font-size: 1.1em;
    padding: 0 10rem 0 0;
  }

  .about__grid{
    margin: 0;
  }

  .outline__paragraph{
    font-size: 1.1em;
    padding: 1.5rem 10rem 1.5rem 1.5rem;
  }

  .testimonials{
    padding: 2rem 20rem;
  }

  .carousel{
    
  }

  img[alt="user__avatar"]{
    width: 15%;
  }

  .testimonial__block{
    padding: 6rem 3rem 3rem 3rem; 
  }

  .simplify__team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5rem;
  }

  .simplify__header{
    font-size: 3.2em;
    text-align: left;
    padding: 0 4rem 0 0;
  }

  .simplify__team__btn{
    place-content: center;
    place-items: center;
    width: 40%;
    margin: auto;
  }

  .webpage__footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }

  form{
    grid-column: 3;
    flex-direction: column;
    justify-content: center;
  }

  .subscribe__btn{
    padding: 1rem;
    width: 30%;
  }
 
  .alternate__links{
    grid-column: 2;
  }
}

@media (width >= 1500px) {
  .testimonials {
    margin: 5rem auto;
    max-width: 70%;
  }
}
